<div class="w-screen h-screen bg-gray-50 relative">
  <div class="absolute w-full h-full hidden lg:block">
    <img
      class="absolute w-96 left-0 bottom-0"
      src="/assets/images/svg/login-bg-left.svg"
      alt="bg left"
    />
    <img
      class="absolute w-96 right-0 bottom-0"
      src="/assets/images/svg/login-bg-right.svg"
      alt="bg right"
    />
  </div>
  <div class="relative w-10/12 sm:w-7/12 md:w-5/12 lg:w-4/12 m-auto">
    <header class="pt-6 pb-2 flex justify-center">
      <img
        class="w-56"
        src="/assets/images/logo/logo-gradient-blue-trello.png"
        alt=""
      />
    </header>
    <div class="bg-white rounded shadow py-4 px-6">
      <div class="mb-4">
        <h1 class="text-center font-semibold pt-4 pb-8">Log In to Trello</h1>
        <form novalidate class="space-y-4">
          <div class="relative">
            <input
              placeholder="Enter email"
              type="text"
              class="w-full rounded bg-gray-100 border-2 border-gray-200"
            />
          </div>
          <div class="relative">
            <input
              placeholder="Enter password"
              type="text"
              class="w-full rounded bg-gray-100 border-2 border-gray-200"
            />
          </div>
          <div>
            <app-btn routerLink="/boards" typeBtn="submit" [color]="'success'">Log In</app-btn>
          </div>
        </form>

        <div
          class="flex flex-col md:flex-row md:items-center md:justify-center text-center mt-4"
        >
          <a href="#" class="text-sm text-blue-500 hover:text-blue-700">
            Can't log in?
          </a>
          <span class="mx-2 hidden md:inline-block">-</span>
          <a href="#" class="text-sm text-blue-500 hover:text-blue-700">
            Sing up for an account
          </a>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col md:flex-row md:items-center md:justify-center text-center text-sm mt-4"
    >
      <a href="#" class="text-sm text-blue-500 hover:text-blue-700">
        Private Policy
      </a>
      <span class="mx-2 hidden md:inline-block">-</span>
      <a href="#" class="text-sm text-blue-500 hover:text-blue-700">
        Term of Service
      </a>
    </div>
    <footer class="mt-4">
      <hr class="my-6 border-gray-200" />
      <a href="#" class="text-center">
        <img
          class="w-40 mx-auto"
          src="/assets/images/logo/horizontal-logo-gradient-blue-atlassian.png"
          alt=""
        />
      </a>
      <ul
        class="w-full flex flex-wrap gap-3 items-center justify-center mb-6 text-sm text-gray-500 sm:mb-0"
      >
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">Template</a>
        </li>
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">Pricing</a>
        </li>
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">Jobs</a>
        </li>
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">Blog</a>
        </li>
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">Developers</a>
        </li>
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">About</a>
        </li>
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">Help</a>
        </li>
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">Cookie Settings</a>
        </li>
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
        </li>
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
        </li>
        <li>
          <a href="#" class="hover:underline">Contact</a>
        </li>
      </ul>
    </footer>
  </div>
</div>
